<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelTools.Properties.Settings>
            <setting name="FuncCSVConverterExcelDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterDirPathServer" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterDirPathClient" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterTextName" serializeAs="String">
                <value>text.xlsx</value>
            </setting>
            <setting name="FuncCSVConverterSheetName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="FuncCSVConverterExistLineFour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncTextDiffOldTextPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncTextDiffNewTextPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncTextDiffTextDifferencePath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncTextDiffSheetName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="FuncTextDiffOldItemColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FuncTextDiffNewItemColor" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FuncTextDiffExistLineFour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCustomizerCustomPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerCustomSheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerInputFunctionDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerOutputFunctionDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerOldFunctionDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerCustomClashPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCustomizerFuncSheetName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="FuncCustomizerOldItemColor" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FuncCustomizerNewItemColor" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FuncCustomizerExistLineFour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncVersionDiffOldExcelDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncVersionDiffNewExcelDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncVersionDiffSheetName" serializeAs="String">
                <value>Main</value>
            </setting>
            <setting name="FuncVersionDiffExistLineFour" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UISceneTextCsvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UISceneTextNewCsvPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterDirPathCommonJS" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterUseCSV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterUseJS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterUseCommonJS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterUseCSVString" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuncCSVConverterUseTypescript" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterDirPathTypescript" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterDirPathProtobuffer" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterUseProtobuffer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterUseText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuncCSVConverterDirPathText" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterDirPathCSVString" serializeAs="String">
                <value />
            </setting>
            <setting name="FuncCSVConverterTextColId" serializeAs="String">
                <value>Id</value>
            </setting>
            <setting name="FuncCSVConverterTextColName" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="SheetCopyOldExcelDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetCopyNewExcelDirPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetCopySheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetCopyExistLineFour" serializeAs="String">
                <value>False</value>
            </setting>
        </ExcelTools.Properties.Settings>
    </userSettings>
</configuration>